[Service]
Type=exec
RemainAfterExit=true
Restart=on-failure
RestartSec=10
Environment="QT_QPA_PLATFORM=wayland"
WorkingDirectory=/home/suryateja/Projects/auto-dark-theme
ExecStartPre=/usr/bin/sleep 5
ExecStart=/home/suryateja/Projects/auto-dark-theme/bin/python -m auto-dark-theme
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=plasma-workspace-wayland.target
